@media screen and (min-width:768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 5%;
    }

    header div {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    header img {
        width: 10%;
        height: 10%;
    }

    .hamburger {
        display: none;
    }

    nav {
        display: block;
        position: static;
    }

    nav ul {
        display: flex;
        gap: 20px;
    }

    nav ul li {
        margin: 0;
    }

    .name {
        display: block;
        align-items: center;
    }

    .container {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }

    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
    }

    .notice {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .box {
        flex: 1;
        max-width: 300px;
    }

    .business {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1200px;
        margin: 2rem auto;
    }

    .business-box {
        flex: 1 1 30%;
        max-width: 30%;
    }

    .card {
        max-width: 100%;
    }

    .element {
        display: flex;
        justify-content: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        margin: 1rem auto;
        padding: 0.5rem;
        text-align: center;
        
    }

    .menu button {
        margin: 1rem;
        padding: 0.5rem;
        border-radius: 10%;
        cursor: pointer;
        background: #56B3FA;
        color: aliceblue;
        width: 200px;
        height: 50px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5px;
        align-items: center;
    }

    .list {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding: 2rem 5%;
        text-align: left;
    }

    footer .center {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}